@page
@model LoginModel

@{
    ViewData["Title"] = "Logar";
}


<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
        @*    <div class="fadeIn first">
      <img src="~/img/loginrb.png" id="icon" alt="User Icon"/>
    </div>*@

    <!-- Login Form -->
      <form id="account" method="post">
          <h1>@ViewData["Title"]</h1>
            <h4>Conectar com sua conta</h4>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div>             
                <input asp-for="Input.Email" type="text" id="login" class="fadeIn second" name="login" placeholder="login"/>
                <span asp-validation-for="Input.Email"></span>
            </div>
            <div>               
                <input asp-for="Input.Password" type="text" id="password" class="fadeIn third" name="login" placeholder="password"/>
                <span asp-validation-for="Input.Password"></span>
            </div>

            <div id="btnajuste">
                <input type="submit" class="fadeIn fourth" value="Log In">
            </div>            

            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>            
      </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a id="forgot-password" asp-page="./ForgotPassword">Esqueceu sua senha?</a>
    </div>
    <div id="formFooter">
      <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Criar uma nova conta</a>
    </div>

  </div>
</div>

@section Scripts {
   <partial name="_ValidationScriptsPartial" />
}
